{% extends "base.html" %}
{% block page_title %}
  <title>{{ context.news.title }}</title>
{% endblock %}
{% block news %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{{ context.page_title }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard.index')}}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">{{ context.news.title }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class='col-12'>{{ context.news.text|safe }}</div>

  </main><!-- End #main -->

  {% endblock %}