    {% extends "base.html" %}
    {% block content %}
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Chicken</h6>
                </li>

                <li><a class="dropdown-item" href="#">Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Chicken <span>| Chicken</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                  <span class="text-success small pt-1 fw-bold">12%</span>
                  <span class="text-muted small pt-2 ps-1">chicken</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Chicken</h6>
                </li>

                <li><a class="dropdown-item" href="#">Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Chicken <span>| Chicken Chicken</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>${{ context.portfolio.balances.balance }}</h6>
                  <span class="text-success small pt-1 fw-bold">
                    {{ context.portfolio.balances.profit / context.portfolio.balances.balance * 100 }}%
                  </span>
                  <span class="text-muted small pt-2 ps-1">chicken</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Chicken</h6>
                </li>

                <li><a class="dropdown-item" href="#">Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Chicken <span>| Chicken Chicken</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>1244</h6>
                  <span class="text-danger small pt-1 fw-bold">12%</span>
                  <span class="text-muted small pt-2 ps-1">chicken</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Customers Card -->

        <!-- Reports -->
        <div class="col-12">
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Chicken</h6>
                </li>

                <li><a class="dropdown-item" href="#">Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Portfolio<span>/Chart</span></h5>

              <!-- Line Chart -->
              <div id="reportsChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [{
                      name: 'Capitalization',
                      data: {{ values }},
                    }, {
                      name: 'Profit',
                      data: [11, 32, 45, 32, 34, 52, 41]
                    }, {
                      name: 'Customers',
                      data: [15, 11, 32, 18, 9, 24, 11]
                    }],
                    chart: {
                      height: 350,
                      type: 'area',
                      toolbar: {
                        show: false
                      },
                    },
                    markers: {
                      size: 4
                    },
                    colors: ['#4154f1', '#2eca6a', '#ff771d'],
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth',
                      width: 2
                    },
                    xaxis: {
                      type: 'datetime',
                      categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                    },
                    tooltip: {
                      x: {
                        format: 'dd/MM/yy HH:mm'
                      },
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>
        <!-- End Reports -->

        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Account</h6>
                </li>

                <li><a class="dropdown-item" href="#">Tinkoff main</a></li>
                <li><a class="dropdown-item" href="#">Tinkoff IIS</a></li>
                <li><a class="dropdown-item" href="#">Tinkoff Unt.</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">
                {{ context.securities.title }} <span>| {{ context.securities.account_id }}</span>
              </h5>
              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Tiker</th>
                    <th scope="col">Total</th>
                    <th scope="col">Price</th>
                    <th scope="col">Profit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for security in context.securities.positions %}
                  <tr>
                    <td>{{ security['Name'] }}</td>
                    <td>{{ security['Tiker'] }}</td>
                    <td>{{ security['Total'] }}</td>
                    <td>{{ security['Current price'] }}</td>
                    <td>{{ security['Expected yield'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Recent Sales -->

        <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Chicken</h6>
                </li>

                <li><a class="dropdown-item" href="#">Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
                <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Chicken Chicken <span>| Chicken</span></h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Chicken</th>
                    <th scope="col">Chicken</th>
                    <th scope="col">Chicken</th>
                    <th scope="col">Chicken</th>
                    <th scope="col">Chicken</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <a href="#"
                        ><img src="static/assets/img/product-1.jpg" alt=""
                      /></a>
                    </th>
                    <td>
                      <a href="#" class="text-primary fw-bold"
                        >Chicken chicken chicken chicken chicken</a
                      >
                    </td>
                    <td>$64</td>
                    <td class="fw-bold">124</td>
                    <td>$5,828</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="#"
                        ><img src="static/assets/img/product-2.jpg" alt=""
                      /></a>
                    </th>
                    <td>
                      <a href="#" class="text-primary fw-bold"
                        >Chicken chicken chicken</a
                      >
                    </td>
                    <td>$46</td>
                    <td class="fw-bold">98</td>
                    <td>$4,508</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="#"
                        ><img src="static/assets/img/product-3.jpg" alt=""
                      /></a>
                    </th>
                    <td>
                      <a href="#" class="text-primary fw-bold"
                        >Chicken chicken chicken</a
                      >
                    </td>
                    <td>$59</td>
                    <td class="fw-bold">74</td>
                    <td>$4,366</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="#"
                        ><img src="static/assets/img/product-4.jpg" alt=""
                      /></a>
                    </th>
                    <td>
                      <a href="#" class="text-primary fw-bold"
                        >Chicken chicken chicken chicken chicken</a
                      >
                    </td>
                    <td>$32</td>
                    <td class="fw-bold">63</td>
                    <td>$2,016</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <a href="#"
                        ><img src="static/assets/img/product-5.jpg" alt=""
                      /></a>
                    </th>
                    <td>
                      <a href="#" class="text-primary fw-bold"
                        >Chicken chicken chicken chicken chicken</a
                      >
                    </td>
                    <td>$79</td>
                    <td class="fw-bold">41</td>
                    <td>$3,239</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Top Selling -->
      </div>
    </div>
    <!-- End Left side columns -->

    {% endblock %}
    {% block currency %}
<!-- Right side columns -->
<div class="col-lg-4">
  <!-- Recent Activity -->
  <div class="card">
    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"
        ><i class="bi bi-three-dots"></i
      ></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Base currency</h6>
        </li>

        <li><a class="dropdown-item" href="#">RUB</a></li>
        <li><a class="dropdown-item" href="#">USD</a></li>
        <li><a class="dropdown-item" href="#">EUR</a></li>
        <li><a class="dropdown-item" href="#">CHK..</a></li>
      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title">
        {{ context.currencies.title }} <span>| {{ context.currencies.base_currency }}</span>
      </h5>

      <table class="table table-borderless">
        <tbody>
          {% for key, value in context.currencies.positions.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ 1 / value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- End Recent Activity -->

  <!-- Budget Report -->
  <div class="card">
    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"
        ><i class="bi bi-three-dots"></i
      ></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Chicken</h6>
        </li>

        <li><a class="dropdown-item" href="#">Chicken</a></li>
        <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
        <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
      </ul>
    </div>

    <div class="card-body pb-0">
      <h5 class="card-title">
        Chicken Chicken <span>| Chicken Chicken</span>
      </h5>

      <div id="budgetChart" style="min-height: 400px" class="echart"></div>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          var budgetChart = echarts
            .init(document.querySelector("#budgetChart"))
            .setOption({
              legend: {
                data: ["Allocated Budget", "Actual Spending"],
              },
              radar: {
                // shape: 'circle',
                indicator: [
                  {
                    name: "Sales",
                    max: 6500,
                  },
                  {
                    name: "Administration",
                    max: 16000,
                  },
                  {
                    name: "Information Technology",
                    max: 30000,
                  },
                  {
                    name: "Customer Support",
                    max: 38000,
                  },
                  {
                    name: "Development",
                    max: 52000,
                  },
                  {
                    name: "Marketing",
                    max: 25000,
                  },
                ],
              },
              series: [
                {
                  name: "Budget vs spending",
                  type: "radar",
                  data: [
                    {
                      value: [4200, 3000, 20000, 35000, 50000, 18000],
                      name: "Allocated Budget",
                    },
                    {
                      value: [5000, 14000, 28000, 26000, 42000, 21000],
                      name: "Actual Spending",
                    },
                  ],
                },
              ],
            });
        });
      </script>
    </div>
  </div>
  <!-- End Budget Report -->

  <!-- Website Traffic -->
  <div class="card">
    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"
        ><i class="bi bi-three-dots"></i
      ></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Chicken</h6>
        </li>

        <li><a class="dropdown-item" href="#">Chicken</a></li>
        <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
        <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
      </ul>
    </div>

    <div class="card-body pb-0">
      <h5 class="card-title">Chicken Chicken <span>| Chicken</span></h5>

      <div id="trafficChart" style="min-height: 400px" class="echart"></div>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          echarts.init(document.querySelector("#trafficChart")).setOption({
            tooltip: {
              trigger: "item",
            },
            legend: {
              top: "5%",
              left: "center",
            },
            series: [
              {
                name: "Access From",
                type: "pie",
                radius: ["40%", "70%"],
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: "center",
                },
                emphasis: {
                  label: {
                    show: true,
                    fontSize: "18",
                    fontWeight: "bold",
                  },
                },
                labelLine: {
                  show: false,
                },
                data: [
                  {
                    value: 1048,
                    name: "Search Engine",
                  },
                  {
                    value: 735,
                    name: "Direct",
                  },
                  {
                    value: 580,
                    name: "Email",
                  },
                  {
                    value: 484,
                    name: "Union Ads",
                  },
                  {
                    value: 300,
                    name: "Video Ads",
                  },
                ],
              },
            ],
          });
        });
      </script>
    </div>
  </div>
  <!-- End Website Traffic -->

  <!-- News & Updates Traffic -->
  <div class="card">
    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"
        ><i class="bi bi-three-dots"></i
      ></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Chicken</h6>
        </li>

        <li><a class="dropdown-item" href="#">Chicken</a></li>
        <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
        <li><a class="dropdown-item" href="#">Chicken Chicken</a></li>
      </ul>
    </div>

    <div class="card-body pb-0">
      <h5 class="card-title">
        Chicken &amp; Chicken <span>| Chicken</span>
      </h5>

      <div class="news">
        <div class="post-item clearfix">
          <img src="static/assets/img/news-1.jpg" alt="" />
          <h4>
            <a href="#">Chicken chicken chicken chicken chicken chicken</a>
          </h4>
          <p>
            Chicken chicken chicken chicken chicken. Chicken chicken chicken
            chicken chicken chick...
          </p>
        </div>

        <div class="post-item clearfix">
          <img src="static/assets/img/news-2.jpg" alt="" />
          <h4><a href="#">Chicken chicken chicken chicken</a></h4>
          <p>
            Chicken chicken chicken chicken chicken chicken chicken chicken
            chicken chicken chicken chicken chick...
          </p>
        </div>

        <div class="post-item clearfix">
          <img src="static/assets/img/news-3.jpg" alt="" />
          <h4>
            <a href="#"
              >Chicken chicken chicken chicken chicken chicken chicken
              chicken chicken</a
            >
          </h4>
          <p>
            Chicken chicken chicken chicken chicken chicken. Chicken chicken
            chicken chicken chick...
          </p>
        </div>

        <div class="post-item clearfix">
          <img src="static/assets/img/news-4.jpg" alt="" />
          <h4>
            <a href="#">Chicken chicken chicken chicken chicken chicken</a>
          </h4>
          <p>
            Chicken chicken chicken chicken. Chicken chicken chicken chicken
            chicken chicken chick...
          </p>
        </div>

        <div class="post-item clearfix">
          <img src="static/assets/img/news-5.jpg" alt="" />
          <h4>
            <a href="#"
              >Chicken chicken chicken chicken chicken chicken chicken</a
            >
          </h4>
          <p>
            Chicken chicken chicken chicken chicken. Chicken chicken chicken
            chicken chicken chick...
          </p>
        </div>
      </div>
      <!-- End sidebar recent posts-->
    </div>
  </div>
  <!-- End News & Updates -->
</div>
<!-- End Right side columns -->
{% endblock %}
